@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: #131316;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefer-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/*
.logos {
    display: flex;
}

.logos:nth-child(2) {
    transition-delay: 200ms;
}

.logos:nth-child(3) {
    transition-delay: 400ms;

}

.logos:nth-child(4) {
    transition-delay: 600ms;
}

*/

.logo {
    width: 20%;
    border: 0px dotted hotpink;
    margin: 0px;
    padding: 16px;
    overflow: hidden;
}

.logo:hover {
    transform: rotate(90deg);
    /*
    display: block;
    margin: 0px;
    padding: 18px;
    transition: all 1s;
    */
    /*  top: -15%;
    left: -5%;
    overflow: auto;
  margin: calc((455px - 111px)/2) calc((111px - 455px)/2);
  */
}

.component {
    position: relative;
    text-align: center;
    /*
    color: #D74177;*/
}

.component>div {
    position: absolute;
    top: 10%;
    left: 30%;
    max-width: 800px;
}

.component>div>img {
    position: relative;
    top: 0%;
    left: -130%;
}

.logoCover {
    overflow: hidden;
    border: 2px solid purple;
}

iframe {
    min-height: 100vh;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    float: left;
    text-decoration: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#orange {
    background-color: orange;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#green {
    background-color: yellowgreen;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#blueglass {
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}